.container {
  width: 100%;
  min-height: 500px;
  // border: 2px solid red;
  .containerContent {
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    .countdown {
      color: var(--buttonColor);
      height: inherit;
      width: 40%;
      // border: 2px solid purple;
      h1 {
        text-align: center;
        font-size: 30px;
      }
      .imgContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        // border: 2px solid purple;
        height: 300px;
        width: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .countdownContainer {
        color: var(--white);
        font-size: 30px;
        text-align: center;
      }

      // progress bar starts here
      .meter {
        border: 2px solid red;
        box-sizing: content-box;
        height: 20px; /* Can be anything */
        position: relative;
        background: #555;
        border-radius: 25px;
        margin-top: 20px;
        // padding: 10px;
        box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
        span {
          display: block;
          height: 100%;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          background-color: var(--buttonColor);
          background-image: linear-gradient(
            center bottom,
            rgb(43, 194, 83) 37%,
            rgb(84, 240, 84) 69%
          );
          box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
            inset 0 -2px 6px rgba(0, 0, 0, 0.4);
          position: relative;
          overflow: hidden;
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-image: linear-gradient(
              -45deg,
              rgba(255, 255, 255, 0.2) 25%,
              transparent 25%,
              transparent 50%,
              rgba(255, 255, 255, 0.2) 50%,
              rgba(255, 255, 255, 0.2) 75%,
              transparent 75%,
              transparent
            );
            z-index: 1;
            background-size: 50px 50px;
            animation: move 2s linear infinite;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            overflow: hidden;
          }
        }
      }
      .red {
        span {
          background-image: linear-gradient(#f0a3a3, #f42323);
        }
      }
      // progress bar ends here
    }
    .guide {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100%;
      width: 60%;
      // border: 2px solid green;
      color: var(--white);
      .content {
        width: 90%;
        height: 100%;
        // border: 2px solid red;
        .claimReward,
        .noteReward {
          width: 100%;
          h2 {
            // text-align: center;
            color: var(--buttonColor);
          }
          nav {
            ul {
              li {
                list-style: none;
                div {
                  span {
                    padding: 0 10px;
                    // border: 2px solid red;
                    &:nth-child(1) {
                      color: var(--buttonColor);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// animation for the progress bar
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    min-height: 400px;
    .containerContent {
      flex-direction: column;
      .countdown {
        width: 95%;
        h1 {
          font-size: 22px;
        }
        .imgContainer {
          // border: 2px solid red;
          height: 400px;
        }
        .countdownContainer {
          font-size: 22px;
        }
        .meter {
          height: 10px;
        }
      }
      .guide {
        // margin-top: 20px;
        width: 95%;
        // border: 2px solid red;
        .content {
          width: 100%;
          font-size: 13px;
          .claimReward,
          .noteReward {
            margin-top: 20px;
          }
        }
      }
    }
  }
}
